/* Global Layout stuff */

@import url(http://fonts.googleapis.com/css?family=Average+Sans);
body {
  font-family: 'Average Sans', sans-serif;
  font-size: .9em;
}

#container {
  width: 1000px;
  margin: 10px auto 10px auto;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid gray;
  margin-top: 40px;
}

.center {
  text-align: center;
}


/* Overwriting some jQuery defaults */
.ui-button {
  margin: 5px;
}

.ui-button-text {
  font-size: .8em;
}

/* Displaying the form in a pretty way */
form {
  margin-left: 20px;
}

#encode_form label { 
  width: 10em;
  float: left;
}

#decode_form label {
  width: 4em; 
  float: left;
}

label.error {
  float: none !important;
  color: red;
  padding-left: .5em;
  vertical-align: top; 
}

form p {
  clear: both;
}


/* Pretty output */
#encoded_output {
  border: 1px solid black;
  padding: 5px;
  margin: 20px 20px 0px 20px;
  display: none;
  overflow: scroll;
}

#encoded_output p.share {
  font-family: monospace;
}

#decoded_output {
  border: 1px solid black;
  padding: 5px;
  margin: 20px 20px 0px 20px;
  display: none;
  overflow: scroll;
}

/* Action bar */
#actions {
  text-align: center;
}

#actions .ui-button {
  margin-right: 50px;
}


/* Encoder/Decoder "pages" */
#decoder, #encoder {
  display: none;
}


/* Top description */
p.description {
  width: 500px;
  margin: 0px auto 10px auto;
  text-align: justify;
}


/* Decoder prettiness */
#addShares, #resetShares {
  font-size: .8em;
}
